<div class="container">
    <div class="row">
        <form [formGroup]="contactForm" (ngSubmit)="SaveNewContact()">
        <div class="col-md-12 mt-3 pt-3 mb-3">
            <h1>Create New Contacts</h1>
        </div>
        <div class="col-md-12 mb-3">
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name"/>
        </div>
        <div class="col-md-12 mb-3">
            <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile"/>
        </div>
        <div class="col-md-12 mb-3">
            <input type="text" class="form-control" placeholder="Enter Email" formControlName="email"/>
        </div>
        <div class="col-md-12 mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1"   placeholder="Enter Address" rows="3" formControlName="address"></textarea>
        </div>
        <div class="col-md-12 mb-3">
          <button class="btn btn-primary">
            <span class="material-icons-outlined"  style="vertical-align: middle;">
            check_circle_outline
            </span> <span class="p-2" style="display: inline;vertical-align:middle">Save Contact</span></button>
        </div>
        <button class="btn btn-secondary">
            <span class="material-icons-outlined"  style="vertical-align: middle;">
           arrow_back
            </span> <span class="p-2" style="display: inline;vertical-align:middle" routerLink="">Back Contacts</span></button>
    
    </form>
    </div>
</div>

